p {
  border: 2px solid black;
  outline: ##000000 solid 10px;
  margin: auto;  
  padding: 20px;
  text-align: center;
}
h1 {
  margin-top: 20px;
  font-size: 42px;
}

h2 {
  font-size: 37px;
}

p {
  font-size: 22px;
}

body {
  background-color: ##ADD8E6;
  color: light blue;
  max-width: 900px;
  margin: auto;
}

 div {
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: #FFFFFF;
}


h1 {
  color: black;
}

h2 {
  color: black;
}
 h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
 * {
  box-sizing: border-box;
}



h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #04AA6D;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 3px solid green; 
}
